*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    position: relative;
    max-width: 100%;
    background-color: rgb(189, 184, 184);
}


.header_section{
    position: relative;
    width: 100%;
    height: 20%;
    margin-top: 0px;
    background-color: rgb(26, 77, 172);
}

.row{
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 125px;
    /* background-color: rgb(85, 167, 223); */
}

.search_icon{
    position: static;
    border: solid 1px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    /* width: 50px; */
    /* height: 50px; */
    text-align: center;
    /* background-color: black; */
}

.icon{
    width: 40px;
    height: 40px;
    border-left: solid 1px;
    background-color: aqua;
}

.search{
    width: 200px;
    height: 40px;
}

.logo{
    display: flex;
    position: absolute;
    margin-left: 37%;
    margin-right: 50%;
    /* background-color: red; */
    width: 25%;
    height: 100%;
}

.menu_section{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    /* background: green; */
}

.left_menu{
    font-weight: bolder;
    font-size: 22px;
}

.container{
    max-width: 100%;
    position: static;
    margin: 25px;
    padding: 10px;
    background-color: rgb(211, 206, 206);
}

.about_image{
    position: static;
    max-width: 100%;
    text-align: center;
}

.about_us{
    color: rgb(225, 209, 240);
    position: absolute;
    margin-top: 3%;
    margin-left: 9%;
    font-size: 30px;
}

.intro{
    padding: 15px;
    background-color: white;
    color: black;
    position: absolute;
    top: 63%;
    left: 35%;
    transform: translate(-27%, -50%);
    font-size: 14px;
    text-align: left;
}

.button{
    width: 14%;
    margin-left: 43%;
    margin-right: 50%;
    margin-bottom: 3%;
    text-align: center;
    color: #ffffff;
    background-color: #1c6aec;
    height: 50px;
    display: block;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

